<div class="center-text bg-delta-img">

  <img src="/assets/images/propic.png" alt="Description of the image" style="max-width: 604px; height: 412px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

  <p>I graduated as an Industrial Engineer. I like building, studying and learning about intelligent systems.</p>
  
  <button onclick="openPDF()" class="styled-button">
      RESUME RESEARCH
  </button>

  <script>
      function openPDF() {
          window.open('/assets/resume.pdf', '_blank');
      }
  </script>

<button onclick="openPDF()" class="styled-button">
    RESUME WORK
</button>

<script>
    function openPDF() {
        window.open('/assets/work_resume.pdf', '_blank');
    }
</script>

</div>

<style>
  .styled-button {
      padding: 12px 24px;
      border-radius: 8px;
      background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
      color: #333;
      border: 1px solid #000;
      cursor: pointer;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
      transition: background 0.3s ease, border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  }

  .styled-button:hover {
      background: linear-gradient(145deg, #e0e0e0, #f0f0f0);
      border: 2px solid #000; /* Thicker black border on hover */
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
  }

  .styled-button:active {
      transform: translateY(0); /* Ensures it returns to normal when clicked */
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); /* Slightly more prominent shadow when active */
  }
</style>
