@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "base",
        "navbar",
        "projects",
        "articles",
        "autumn",
        "skills",
        "timeline",
        "404";

        // Horizontal Bar Variables
// Variables
$horizontal-bar-height: 130px;  // Height of the horizontal bar
$horizontal-bar-color: #c2ced1;  // Color of the horizontal bar

body {
  position: relative;
  background: url('../images/white.jpg') no-repeat center center fixed;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $horizontal-bar-height;
    background-color: $horizontal-bar-color;
  }
}

.center-text {
    text-align: center;
  }
  
.center-text h1,
.center-text h2,
.center-text h3,
.center-text h4,
.center-text h5,
.center-text h6 {
text-align: center;
}

.floating-rectangle {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    width: 100%;
    max-width: 1500px; /* Adjust as needed */
    height: 800px; /* Adjust as needed */
    margin: 50px auto;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.9);  /* Adjust the background color and transparency as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Add shadow for a floating effect */
  }



          